* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;500&display=swap');

.headerSitio {
    position: sticky;
    top: 0;
    height: 175px;
    width: 100%;
    background-color: #ebb273;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    grid-area: header;
    z-index: 999;
}

nav {
    background-color: #ebb273;

    li,a {
        font-family: 'Roboto', sans-serif;
        font-weight: 250;
        font-size: 24px;
        text-decoration: none;
        color: black;
    }
}

.logo {
    cursor: pointer;
}


.navegacion {
    list-style-type: none;
    padding-right: 2rem;
    padding-left: 2rem;
    flex-flow: column wrap;

    li {
        display: inline-block;
        padding: 1rem;

        a {
            transition: all 0.3s ease 0s;
        }
    }
}

.nav-item a:hover {
    color: #922547;
}

/*BOTON WHATSAPP*/
.botonWhatsApp img {
    position: fixed;
    right: 0.5%;
    z-index: 900;
}

/*PAGINA INDEX*/

.seccionUno {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 50vh;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/stock-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: seccionUno;
}

.parrafoUno {
    color: whitesmoke;
    padding: 2rem 6rem 2rem 6rem;
}

.seccionDos {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 23%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: seccionDos;
}

.parrafoDos {
    order: 1;
    padding: 5px 5px 5px 5px;

    a {
        text-decoration: none;
        color: black;
    }
}

.imagenDos {
    width: 450px;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    order: 0;
}

.botonOrden {
    transition: all 0.3s ease 0s;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    order: 2;
}

.seccionDos a:hover {
    color: #922547;
}

@media screen and (max-width: 600px) {
    .imagenDos {
        display: none;
    }
}

.seccionTres {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f2ee;
    font-size: 20px;
    font-weight: 250;
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: seccionTres;

    a {
        text-decoration: none;
        color: black;
    }
    
}

.tituloSobreVero {
    margin: 0;
}

.seccionTres a {
    transition: all 0.3s ease 0s;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.parrafoVero {
    margin: 0;
}

.botonVero:hover {
    color: #922547;
}

.galeriaSimple {
    background-color: #f6f2ee;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "imagen1 imagen2""imagen3 imagen4";
    gap: 10px;
}

.img1 {
    object-fit: cover;
    grid-area: imagen1;
    width: 100%;
}

.img2 {
    object-fit: cover;
    grid-area: imagen2;
    width: 100%;
    height: 100%;
}

.img3 {
    object-fit: cover;
    grid-area: imagen3;
    width: 100%;
}

.img4 {
    object-fit: cover;
    grid-area: imagen4;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .galeriaSimple {
        background-color: #f6f2ee;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "imagen1""imagen2""imagen3""imagen4";
    }
}


/*INFO RAPIDA*/
.seccionInfoRapida {
    height: 500px auto;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    grid-area: infoRapida;
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;

    li {
        padding-left: 1rem;
        text-indent: 0%;
    }
}

@media screen and (max-width: 350px) {
    iframe {
        width: 100%;
    }
}

/*FOOTER*/

.footerSitio {
    height: 100px;
    width: 100%;
    background-color: #922547;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    grid-area: footer;
    position: bottom absolute;
}

.parrafoFooter {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    padding-top: 25px;
    padding-left: 2rem;
}

/*PAGINA SOBRE VERO*/

.sobreVero {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 23%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        padding: 50px 10% 100px 10%;
    }

    img {
        width: 450px;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        order: 0;
    }
}

/*PAGINA GALERIA*/

.seccionTortas {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: tortas;
}

.seccionMasasFinas {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: masasFinas;
}

.seccionPostres {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: postres;
}

.seccionAlfajores {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: alfajores;
}

.seccionTartas {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: tartas;
}

/*PAGINA EVENTOS*/

#carruselCasamiento {
    img {
        width: 100%;
        max-height: 850px;
        height: auto;
    }

    .textoCasamientos {
        background-color: #922547;
        border-radius: 25px;
        font-family: 'Roboto', sans-serif;
    }
}


#carruselCatering {
    img {
        width: 100%;
        max-height: 850px;
        height: auto;
    }

    .textoCatering {
        background-color: #922547;
        border-radius: 25px;
        font-family: 'Roboto', sans-serif;
    }
}

#carruselCumpleanos {
    img {
        width: 100%;
        max-height: 850px;
        height: auto;
    }

    .textoCumpleanos {
        background-color: #922547;
        border-radius: 25px;
        font-family: 'Roboto', sans-serif;
    }
}


/*PAGINA CONTACTO*/
.seccionContacto {
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.formularioContacto {
    padding-top: 2rem;
    background-color: #f6f2ee;  
}
.mapa {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 400px;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    iframe {
        width: 100%;
    }
}