* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



.headerSitio {
    position: sticky;
    top: 0;
    height: 175px;
    width: 100%;
    background-color: #ebb273;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    grid-area: header;
}

nav {
    background-color: #ebb273;
}

.logo{
    cursor: pointer;
}

li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
    
    
}

.navegacion {
    list-style-type: none;
    padding-right: 2rem;
    padding-left: 2rem;
    flex-flow: column wrap;
}

.navegacion li {
    display: inline-block;
    padding: 1rem;
}

.navegacion li a{
    transition: all 0.3s ease 0s;
    
}

.nav-item a:hover {
    color: #922547;
    
}

.botonWhatsApp img{
    position: fixed;
    right: 0.5%;
    
}

/*PAGINA INDEX*/


.seccionUno {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 23%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/stock-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: seccionUno;
    
    
}
.imagenUno {
    padding: 2rem 2rem 2rem 2rem;
    width: 450px;
    height:  auto;    
}

.parrafoUno{
    background-color: red;
}

.seccionDos {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 23% ;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: seccionDos;
}

.parrafoDos {
    order: 1;
    padding: 5px 5px 5px 5px;
}

.imagenDos {
    width: 450px;
    height: auto;
    padding-left: 2rem;
    order: 0;
}

.botonOrden {
    transition: all 0.3s ease 0s;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;  
    order: 2;
}

.seccionDos a:hover {
    color: #922547;
}

.seccionTres{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f2ee;
    font-size: 20px;
    font-weight: 500;
    height: 200px ;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    grid-area: seccionTres;
}

.seccionTres a {
    transition: all 0.3s ease 0s;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.seccionTres a:hover {
    color: #922547;
}

.tituloSobreVero {
    order: 0;
    text-align: end;
}

.galeriaSimple {
    background-color: #f6f2ee;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "imagen1 imagen2"
    "imagen3 imagen4";
    gap: 10px; 
}

.img1 {
    
    object-fit: cover;
    grid-area: imagen1;
    width: 100%; 
}

.img2 {
    
    object-fit: cover;
    grid-area: imagen2;
    width: 100%;
    height: 100%; 
}

.img3 {
    
    object-fit: cover;
    grid-area: imagen3;
    width: 100%;  
}

.img4 {
    
    object-fit: cover;
    grid-area: imagen4;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .galeriaSimple {
        background-color: #f6f2ee;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "imagen1"
        "imagen2"
        "imagen3"
        "imagen4";
    }  
}

.seccionInfoRapida {
    height: 500px auto;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow:  column wrap;
    grid-area: infoRapida;
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
}

.parrafoInfo {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    
}

/*FOOTER*/
.footerSitio {
    height: 100px;
    width: 100%;
    background-color: #922547;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    grid-area: footer;
    position: bottom absolute;
}

.parrafoFooter {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 2rem;
}

/*PAGINA SOBRE VERO*/

.sobreVero  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 500px ;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    grid-area: sobreVero;

}
    
.sobreVero p {
    padding: 50px 10% 100px 10%;
}

/*PAGINA GALERIA*/

.seccionTortas  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px ;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: tortas;

}

.seccionMasasFinas  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px ;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: masasFinas;

}

.seccionPostres  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px ;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: postres;

}

.seccionAlfajores  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px ;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: alfajores;

}

.seccionTartas  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 350px ;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: tartas;
}

/*PAGINA EVENTOS*/

.seccionCasamientos  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 400px ;
    width: 100%;
    padding-left: 1rem;
    padding-right: 4rem;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    grid-area: casamientos;
}

.seccionCasamientos img {
    height: 300px auto;
    width: 300px auto;
    
}

.seccionBautismos  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 400px ;
    width: 100%;
    padding-left: 1rem;
    padding-right: 4rem;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    grid-area: bautismos;
}

.seccionBautismos img {
    height: 300px auto;
    width: 300px auto;
    
}

.seccionCumpleanos  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 400px ;
    width: 100%;
    padding-left: 1rem;
    padding-right: 4rem;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    grid-area: cumpleanos;
}

.seccionCumpleanos img {
    height: 300px auto;
    width: 300px auto;
    
}

/*PAGINA CONTACTO*/

.seccionContacto  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 550px ;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    grid-area: contacto;

}

form {
    width: 90%;
    width: 600px
}

.formularioContacto {
    margin-top: 25px;
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 0px;
    color: black;
    outline: none;
    background: transparent;
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.nombreNumero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nombreNumero .formularioContacto {
    flex-basis: 48%;

}

.mapa {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    height: 400px ;
    width: 100%;
    padding-left: 1rem;
    padding-right: 4rem;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/*SITIO VERSION ESCRITORIO*/

@media screen and (max-width:1024px){
    

    

    .galeriaBody {
        display: grid;
        grid-template-areas: 
        "header"
        "tortas"
        "masasFinas"
        "postres"
        "alfajores"
        "tartas"
        "infoRapida"
        "footer";
    }

    .eventosBody {
        display: grid;
        grid-template-areas: 
        "header header"
        "casamientos casamientos"
        "bautismos bautismos"
        "cumpleanos cumpleanos"
        "infoRapida infoRapida"
        "footer footer";
    }

    .infoBody {
        display: grid;
        grid-template-areas: 
        "header"
        "sobreVero"
        "infoRapida"
        "footer";
    }

    .contactoBody {
        display: grid;
        grid-template-areas: 
        "header"
        "contacto"
        "infoRapida"
        "footer";
    }
}

/*SITIO VERSION TABLETS*/



    .eventosBody {
        display: grid;
        grid-template-areas: 
        "header header"
        "casamientos casamientos"
        "bautismos bautismos"
        "cumpleanos cumpleanos"
        "infoRapida infoRapida"
        "footer footer";
    }

    .infoBody {
        display: grid;
        grid-template-areas: 
        "header"
        "sobreVero"
        "infoRapida"
        "footer";
    }

    .eventosBody {
        display: grid;
        grid-template-areas: 
        "header header"
        "casamientos casamientos"
        "bautismos bautismos"
        "cumpleanos cumpleanos"
        "infoRapida infoRapida"
        "footer footer";
    }

    .contactoBody {
        display: grid;
        grid-template-areas: 
        "header"
        "contacto"
        "infoRapida"
        "footer";
    }
}

/*CAMBIOS GENERALES PARA EL RESPONSIVE*/

@media screen and (max-width: 705px) {
    .navegacion {
        flex-flow: column wrap;
    }
    .logo {
        display: none;
    }
}

/*SITIO VERSION CELULAR*/

@media screen and (max-width:411px){
        .seccionUno img {
        display: none;
    }

    .seccionDos img {
        display: none;
    }

    .eventosBody {
        display: grid;
        grid-template-areas: 
        "header header"
        "casamientos casamientos"
        "bautismos bautismos"
        "cumpleanos cumpleanos"
        "infoRapida infoRapida"
        "footer footer";
    }

    .infoBody {
        display: grid;
        grid-template-areas: 
        "header"
        "sobreVero"
        "infoRapida"
        "footer";
    }

    .galeriaBody {
        display: grid;
        grid-template-areas: 
        "header"
        "tortas"
        "masasFinas"
        "postres"
        "alfajores"
        "tartas"
        "infoRapida"
        "footer";
    }

    .contactoBody {
        display: grid;
        grid-template-areas: 
        "header"
        "contacto"
        "infoRapida"
        "footer";
    }

    .seccionInfoRapida {
        flex-flow: row wrap;
    }

    .seccionInfoRapida iframe {
        width: 350 auto;
        height: 350 auto;
    }
}

@media screen and (max-width: 320px) {


    .seccionUno {
        display: flex;
        flex-direction: column;
        background-color: yellow;
    }
    
}

/*Aplica flex column para el nav y el resto de las secciones 
(display column)*/