@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.headerSitio {
  position: sticky;
  top: 0;
  height: 175px;
  width: 100%;
  background-color: #ebb273;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  z-index: 999;
  font-family: 'Source serif pro', serif;
  font-weight: 500;
  font-size: 24px; }
  .headerSitio nav {
    background-color: #ebb273; }
    .headerSitio nav li,
    .headerSitio nav a {
      text-decoration: none;
      text-transform: uppercase;
      color: #232b2b; }
  .headerSitio .logo {
    cursor: pointer; }
  .headerSitio .navegacion {
    list-style-type: none;
    padding-right: 2rem;
    padding-left: 2rem;
    flex-flow: column wrap; }
    .headerSitio .navegacion li {
      display: inline-block;
      padding: 1rem; }
      .headerSitio .navegacion li a {
        transition: all 0.3s ease 0s; }
  .headerSitio .nav-item a:hover {
    color: #922547; }

/*BOTON WHATSAPP*/
.botonWhatsApp img {
  position: fixed;
  right: 0.5%;
  z-index: 900; }

/*PAGINA INDEX*/
.seccionUno {
  font-family: 'Source serif pro', serif;
  font-weight: 250;
  height: 50vh;
  background-color: #f6f2ee;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-image: url(../img/stock-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: seccionUno; }
  .seccionUno .parrafoUno {
    color: whitesmoke;
    padding-left: 50%;
    padding-right: 1%;
    font-size: 2rem; }
  @media screen and (max-width: 940px) {
    .seccionUno .parrafoUno {
      font-size: 1.5rem; } }
  @media screen and (max-width: 580px) {
    .seccionUno .seccionUno {
      justify-content: center; }
    .seccionUno .parrafoUno {
      font-size: 1.3rem;
      padding: 0%; } }

.seccionDos {
  font-family: 'Source serif pro', serif;
  font-weight: 250;
  height: 75vh;
  background-color: #f6f2ee;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: seccionDos;
  font-weight: 400; }
  .seccionDos .parrafoDos {
    order: 1;
    padding: 5px 1rem 5px 1rem;
    font-size: 2rem;
    margin: 0; }
    .seccionDos .parrafoDos a {
      text-decoration: none;
      color: black;
      font-size: 2rem;
      font-weight: 400;
      font-family: 'Source serif pro', serif; }
    .seccionDos .parrafoDos a:hover {
      color: #922547; }
  .seccionDos .imagenDos {
    width: auto;
    height: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    order: 0; }
  .seccionDos .botonOrden {
    transition: all 0.3s ease 0s;
    font-family: 'Source serif pro', serif;
    font-size: 20px;
    font-weight: 300;
    order: 2; }
  .seccionDos .seccionDos a:hover {
    color: #922547; }

@media screen and (max-width: 700px) {
  .seccionDos {
    flex-flow: row wrap;
    padding: 0;
    font-size: 1.7rem;
    height: auto; }
    .seccionDos .imagenDos {
      height: 550px;
      width: 100%;
      padding: 0;
      margin: 0; } }

#miCarrusel .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 75vh;
  overflow: hidden; }

/*FOOTER*/
.footerSitio {
  height: 100%;
  width: 100%;
  background-color: #922547;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: 'Source serif pro', serif;
  font-size: 20px;
  font-weight: 500; }
  .footerSitio ul {
    padding-top: 1rem;
    height: 100%; }
    .footerSitio ul h4 {
      color: #181a18;
      height: 100%;
      font-weight: bold; }
    .footerSitio ul li {
      list-style: none;
      color: #181a18;
      flex-wrap: wrap;
      padding-bottom: 10px; }
      .footerSitio ul li a {
        text-decoration: none;
        color: #181a18;
        transition: all 0.5s ease 0s; }
        .footerSitio ul li a i {
          padding-right: 5px; }
      .footerSitio ul li a:hover {
        font-size: 22px; }

@media screen and (max-width: 580px) {
  .footerSitio {
    justify-content: flex-start; } }

/*PAGINA SOBRE VERO*/
.sobreVero {
  font-family: 'Source serif pro', serif;
  font-size: 1.7rem;
  font-weight: 400;
  height: auto;
  width: 100%;
  background-color: #f6f2ee;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .sobreVero p {
    padding-right: 1rem; }
  .sobreVero img {
    width: 50%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem; }

@media screen and (max-width: 1280px) {
  .sobreVero {
    flex-flow: row wrap; }
    .sobreVero img {
      width: 100%;
      height: 25%; }
    .sobreVero p {
      font-size: 1.5rem; } }

.sobreVero2 {
  background-image: url(../img/span-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Source serif pro', serif;
  font-size: 2rem;
  text-align: center; }
  .sobreVero2 h2 {
    color: #922547;
    font-weight: bold;
    font-size: 2.2rem; }

@media screen and (max-width: 1018px) {
  .sobreVero2 {
    flex-flow: row wrap; } }

/*PAGINA GALERIA*/
.tituloGaleria {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Source serif pro', serif;
  padding-top: 1rem;
  background-color: #f6f2ee;
  margin-bottom: 0%;
  height: 25vh;
  text-transform: uppercase;
  font-weight: bold;
  color: #232b2b; }

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 10px;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #f6f2ee;
  grid-auto-flow: dense; }
  .grid-container .grid-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 19px 5px black; }
    .grid-container .grid-item img {
      height: 100%;
      width: 100%; }
  .grid-container .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }

@media screen and (min-width: 768px) {
  .ancho {
    grid-column: span 2; }
  .alto {
    grid-row: span 2; } }

@media screen and (max-width: 480px) {
  .grid-container {
    padding: 1%; } }

/*PAGINA EVENTOS*/
#carruselCasamiento img {
  width: 100%;
  max-height: 850px;
  height: auto; }

#carruselCasamiento .textoCasamientos {
  background-color: #922547;
  border-radius: 25px;
  font-family: 'Source serif pro', serif;
  font-size: 1.5rem;
  box-shadow: 0px 0px 19px 5px black; }

#carouselCasamientos .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden; }

#carruselCatering img {
  width: 100%;
  max-height: 850px;
  height: auto; }

#carruselCatering .textoCatering {
  background-color: #922547;
  border-radius: 25px;
  font-family: 'Source serif pro', serif;
  font-size: 1.5rem;
  box-shadow: 0px 0px 19px 5px black; }

#carouselCatering .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden; }

#carruselCumpleanos img {
  width: 100%;
  max-height: 850px;
  height: auto; }

#carruselCumpleanos .textoCumpleanos {
  background-color: #922547;
  border-radius: 25px;
  font-family: 'Source serif pro', serif;
  font-size: 1.5rem;
  box-shadow: 0px 0px 19px 5px black; }

#carouselCumpleanos .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden; }

/*PAGINA CONTACTO*/
.seccionContacto {
  background-color: #f6f2ee;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  font-family: 'Source serif pro', serif; }
  .seccionContacto h1 {
    padding-top: 1rem;
    text-transform: uppercase; }
  .seccionContacto .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px; }
    .seccionContacto .container .contact-box {
      max-width: 850px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #ebb273;
      box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19); }
    .seccionContacto .container .left {
      height: 100%;
      background: url(../img/catering3.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .seccionContacto .container .right {
      padding: 25px 40px; }
    .seccionContacto .container h1 {
      position: relative;
      margin-bottom: 10px;
      padding-bottom: 10px; }
    .seccionContacto .container .field {
      width: 100%;
      padding: 0.5rem 1rem;
      background-color: rgba(0, 0, 0, 0);
      font-size: 1.1rem;
      margin-bottom: 22px;
      transition: .3s;
      outline: none;
      border: 2px solid rgba(230, 230, 230, 0.6); }
    .seccionContacto .container .field:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .seccionContacto .container .field:focus {
      background-color: #fff;
      border: 2px solid rgba(30, 85, 250, 0.47); }
    .seccionContacto .container .area {
      min-height: 150px; }
    .seccionContacto .container .btn {
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      border: none; }
    @media screen and (max-width: 880px) {
      .seccionContacto .container .container {
        padding: 0; }
      .seccionContacto .container .contact-box {
        grid-template-columns: 1fr; }
      .seccionContacto .container .left {
        height: 200px; } }
  @media screen and (max-width: 880px) {
    .seccionContacto .container {
      padding: 10px 50px;
      max-width: fit-content; } }
  @media screen and (max-width: 480px) {
    .seccionContacto .container {
      padding: 5px 25px;
      max-width: fit-content; } }
  .seccionContacto .mapa {
    font-family: 'Source serif pro', serif;
    font-size: 20px;
    font-weight: 250;
    height: 400px;
    width: 100%;
    background-color: #f6f2ee;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem; }
    .seccionContacto .mapa iframe {
      width: 600px; }
    @media screen and (max-width: 600px) {
      .seccionContacto .mapa iframe {
        width: 100%; } }
